# Deps
/node_modules/

# Operating System
.DS_Store

# Compiled output
/.next
/out/

# IDE - VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

